# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Build outputs
build/
android/app/build/
ios/Pods/
ios/.symlinks/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# VS Code / IDE
.vscode/
.idea/
*.iml

# Platform-specific
android/.gradle/
android/local.properties
android/key.properties

# Misc
pubspec.lock
*.log
